.admin-bar #masthead {
  top: 32px;
}

.site-navigation {
  width: 100%;
}

#masthead {
  position: sticky;
  background-color: var(--cr-def-white);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 86px;
  width: 100%;
  -webkit-box-shadow: 0 25px 45px -25px rgba(0,0,0,0.17);
  box-shadow: 0 25px 45px -25px rgba(0,0,0,0.17);
  z-index: 3;

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .brand-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-size: 2rem;
    font-weight: 900;
    font-style: italic;
    line-height: 1.4;
    text-transform: uppercase;
    color: var(--cr-def-text);
  }

  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(70% - 65px);

    ul {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
      font-size: 1.375rem;
      font-weight: 300;
      line-height: 1.4;
      list-style: none;
      text-align: center;
      color: var(--header-text);

      li {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 8px;

        &::after {
          position: absolute;
          content: '';
          background-color: var(--cr-def-text);
          display: flex;
          justify-content: center;
          align-items: center;
          right: 0;
          bottom: 5px;
          left: 0;
          height: 1px;
          width: 0;
          margin: 0 auto;
          transition: all 0.4s ease-in-out;
        }

        &.current_page_item::after,
        &:hover::after {
          bottom: 0;
          width: 100%;
        }

        &.current_page_item {
          font-weight: 400;
        }

        &.current_page_item:hover::after {
          width: 0;
        }
      }
    }
  }

  /*Mobile menu button*/
  .menu-btn {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    opacity: 1;
    margin-left: 15%;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    z-index: 9999999999;
    margin: auto 0;

    .btn {
      &:before {
        content: "";
        position: absolute;
        background: var(--cr-def-text);
        top: 10%;
        right: 0;
        width: 100%;
        height: 12%;
        -webkit-transition: all 0.5s cubic-bezier(0.1, 0.9, 0, 1.2);
        -o-transition: all 0.5s cubic-bezier(0.1, 0.9, 0, 1.2);
        transition: all 0.5s cubic-bezier(0.1, 0.9, 0, 1.2);
      }

      &:after {
        content: "";
        position: absolute;
        background: var(--cr-def-text);
        bottom: 10%;
        left: 0;
        width: 100%;
        height: 12%;
        -webkit-transition: all 0.5s cubic-bezier(0.1, 0.9, 0, 1.2);
        -o-transition: all 0.5s cubic-bezier(0.1, 0.9, 0, 1.2);
        transition: all 0.5s cubic-bezier(0.1, 0.9, 0, 1.2);
      }
    }

    .btn span {
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%;
      width: 100%;

      &:before,
      &:after {
        content: "";
        position: absolute;
        background: var(--cr-def-text);
        width: 100%;
        height: 12%;
        -webkit-transition: all 0.5s cubic-bezier(0.1, 0.9, 0, 1.2);
        -o-transition: all 0.5s cubic-bezier(0.1, 0.9, 0, 1.2);
        transition: all 0.5s cubic-bezier(0.1, 0.9, 0, 1.2);
      }
    }

    &:hover .btn:before,
    &:hover .btn:after,
    &:hover .btn :before,
    &:hover .btn :after {
      background: var(--cr-def-text);
    }

    &.checked {
      .btn {
        &:before,
        &:after {
          width: 0;
        }

        span {
          &:before {
            -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            transform: rotate(135deg);
          }

          &:after {
            -webkit-box-shadow: 0 0 0 0 var(--cr-def-text);
            box-shadow: 0 0 0 0 var(--cr-def-text);
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}

/*Mobile menu container*/
#fixed-menu {
  position: fixed;
  background: rgba(32, 32, 32, 0.15);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 24px -1px rgba(94, 17, 54, 0.2);
  backdrop-filter: blur(40px);
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  padding-top: 50px;
  transform: translate3d(0,0,0);
  transition: all 0.4s ease-in-out;
  z-index: 2;

  &.active {
    width: 100%;
    visibility: visible;
    opacity: 1;
  }

  .container {
    position: relative;
    background: rgba(251, 251, 251, 0.86);
    box-shadow: 0 4px 24px -1px rgba(94, 17, 54, 0.2);
    backdrop-filter: blur(40px);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: calc(100% - 100px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 78px 15px 40px 15px;
    margin: 0 auto 0 0;

    .main {
      width: 100%;
    }

    .navigation {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      ul {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        font-size: 1.375rem;
        font-weight: 300;
        line-height: 1.4;
        list-style: none;
        color: var(--header-text);

        li {
          position: relative;
          display: flex;
          justify-content: flex-start;
          flex-direction: row;
          align-items: flex-start;
          height: 48px;
          width: 100%;

          a {
            display: block;
            border-bottom: 1px solid transparent;
            height: fit-content;
            width: 100%;
            text-decoration: none !important;
            padding-bottom: 5px;
            transition: all 0.4s ease-in-out;
          }

          &:hover a,
          &:not(:last-child) a{
            border-bottom: 1px solid var(--cr-def-text);
          }

          &.is-active {
            font-weight: 500;
          }

          &.current_page_item {
            font-weight: 400;
          }
        }
      }
    }
  }
}

@media only screen and(max-width: 991px) {
  #masthead {
    top: 0 !important;

    .navigation {
      display: none;
    }

    .menu-btn {
      display: block !important;
    }

    .brand-logo {
      width: auto;
    }
  }
  #fixed-menu {
    display: flex !important;
  }
}

@media only screen and(max-width: 550px) {
  #fixed-menu {

    .container {
      width: calc(100% - 55px);
    }
  }
}